@font-face{
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf') format('ttf');
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
main {
    max-width: 1520px;
    height: 100vh;
    margin: auto;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 22px;
     
    background-color: rgb(153, 163, 175);
    background-image: url("img/fond3.jpg")  ;
    background-size: 100% 100%; /*etend le fond a 100 % de la longueur et de la largeur */
    background-attachment: fixed; /*fixe le fond d'ecran en cas de scroll*/
    
    

}
header{
    
    background-image: url("img/fond.jpg");
    background-size: 100% 100%;        
    color: rgb(255, 255, 255);    
    text-align: center;  
    width: 98%;
    height: 15%;
    overflow: hidden;  
    box-shadow: 10px 10px 10px rgb(70, 77, 82);
    border-radius: 20px;
    margin: auto;
}  

        
    


ul{
    display: flex;    
    margin: auto; 
    justify-content: space-around;   
}  
    

a{
    
    list-style-type: none;             
    text-decoration: none;   
    color:rgb(187,187,187);     
   

} 
.parcours{
    
    text-align: center;
} 
.histoire{
    
    text-align: center;
}  
section{
    
    background-color: rgb(103, 181, 218);
    overflow: hidden;    
    box-shadow: 10px 10px 10px rgb(70, 77, 82);
    border-radius:20px ;
    width: 98%;
    height: 35%;
    margin: 12px auto 12px;
    color: rgb(0, 0, 0);
}
.image{
    
    background-color: rgb(155, 226, 226);
    width: 98%;
    height: 30%;
    margin:  auto ;
    border-radius:20px ;
    overflow: hidden; 
    box-shadow: 10px 10px 10px rgb(70, 77, 82);
}
.img__reservia:hover {
    transition: 1s ease-in-out;
    transform: rotateY(360deg)
}

.projets {    
    text-align: center;
}
.img1,.img2{
    display: flex;
    justify-content: space-around;
}
.img__casin, .img__meteo, .img__amazon, .img__lulu{
    width: 80px;
    height: 80px;
}
.footer{
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 15%;
    
    
} 

footer div img{  
    
    width: 80px;
    height: 90px;
    border-radius: 50%;
    
    
    
} 
footer p{
    margin-top: auto;
    font-size: 1.3em;
    text-align: center;
}
.lkd:hover {
    transition: 1s ease-in-out ;
    transform: rotateZ(360deg);
}


a:hover{
    color: rgb(218, 205, 29);
}
.photo_dk, .lkd{
    margin-top: 50px ;
}
@media screen and (max-width : 443px){
    .footer{
        display: block;
        align-items: center;
        text-align: center;
    }
    .photo_dk{
        display: none;
    }

}