html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "lemonada"; 
    background-color: rgb(153, 163, 175);
    background-image: url("img/fond3.jpg") ;
    background-size: cover;

}
header{
    background-image: url("img/fond.jpg");
    background-size: 100% 100%;        
    color: rgb(255, 255, 255);    
    text-align: center;  
    width: 98%;
    overflow: hidden;  
    box-shadow: 10px 10px 10px rgb(70, 77, 82);
    border-radius: 20px;
    margin: auto;
}  

        
    


ul{
    display: flex;    
    margin: auto; 
    justify-content: space-around;   
}  
    

a{
    
    list-style-type: none;
    padding : auto;
    
         
    text-decoration: none;   
    color:rgb(187,187,187);     
   

} 
.parcours{
    text-align: center;
} 
.histoire{
    text-align: center;
}  
section{
    background-color: rgb(103, 181, 218);
    overflow: hidden;    
    box-shadow: 10px 10px 10px rgb(70, 77, 82);
    border-radius:20px ;
    width: 98%;
    margin: 12px auto 12px;
    color: rgb(0, 0, 0);
}
.image{
    background-color: rgb(58, 175, 175);
    width: 98%;
    margin: 12px auto 12px;
    border-radius:20px ;
    overflow: hidden; 
}
.projets {
    
    text-align: center;
}
.img1,.img2{
    display: flex;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
} 
footer div img{  
    margin-top: auto;
    width: 80px;
    height: 90px;
    border-radius: 50%;
    position: ;
} 
footer p{
    margin-top: auto;
    font-size: 1.3em;
}

.img__casin, .img__meteo, .img__amazon, .img__lulu{
    width: 80px;
    height: 80px;
}
a:hover{
    color: rgb(229, 255, 0);
}

    
    


    
